.button {
  font-size: 1.15em;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1;
  color: inherit;
  background-color: transparent;
  border: 0;
  padding: 0;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}

.button:disabled {
  opacity: .4;
  cursor: default;
}

.buttonLarge {
  border-radius: .25rem;
  padding: .875rem 1.125rem;
}

.buttonPrimary {
  color: #FFF;
  background-color: #FF3A35;
  margin-top: 1.25rem;
}

.buttonDelete {
  opacity: .4;
  width: .9rem;
  height: .9rem;
  transform: rotate(45deg);
}