.inputGroup {
  margin-bottom: 2.375rem;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.input {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(66,66,66,.1);
  border-radius: 0;
  margin: 0;
  padding-top: .625rem;
  padding-bottom: .625rem;
  padding-left: 0;
}

.input:focus {
  outline: 0;
  border-bottom-color: rgba(66,66,66, .5);
}

.numberInput {
  flex-grow: 1;
}

.numberInputField {
  font-size: 1.15rem;
  box-shadow: none;
  width: 100%;
  padding-right: .5rem;
  -moz-appearance: textfield;
  position: relative;
  z-index: 2;
}

.numberInputField::placeholder {
  color: rgba(66,66,66, .75);
}

.inputAside {
  font-size: 1rem;
  color: rgba(66,66,66, .4);
}

.select {
  font-size: 1em;
  font-weight: inherit;
  color: inherit;
  padding-right: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select:disabled {
  padding-right: 0;
}

.select:disabled ~ .selectIcon {
  display: none;
}

.selectIcon {
  margin-top: 1px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
  pointer-events: none;
}

.switch {
  border: 1px solid rgba(66,66,66, .2);
  border-radius: 100px;
  display: flex;
  width: 2rem;
  height: 1rem;
  position: relative;
}

.switchToggle {
  width: 50%;
}

.switchIndicator {
  background-color: rgb(66,66,66);
  border-radius: 100%;
  width: .5rem;
  height: .5rem;
  opacity: 0;
  display: block;
  margin: 3px;
}

.switchLabel {
  text-align: right;
  font-size: .75rem;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  margin-right: .5rem;
  opacity: 0;
}

.switchInput:checked ~ .switchIndicator, .switchInput:checked ~ .switchLabel  {
  opacity: .4;
}