.base {
  margin-bottom: 1.25rem;
}

.list {
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  padding: 0 1.25rem;
}

.link {
  text-decoration: none;
  border-bottom: 1px solid rgba(66,66,66, .1);
  padding: .75rem .25rem .5rem;
  display: block;
}

.link:hover {
  border-bottom-color: currentColor;
}