@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-UI-Regular.woff2') format('woff2'), url('../fonts/Inter-UI-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Inter UI';
  src: url('../fonts/Inter-UI-Medium.woff2') format('woff2'), url('../fonts/Inter-UI-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit
}

body {
  font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.3;
  font-weight: 400;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  background-color: #FFF;
  color: rgb(66,66,66);
  margin: 0;
}

.wrap {
  margin: 0 auto;
  max-width: 34.375rem;
  position: relative;
}

.content {
  padding: 1.25rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visuallyhidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}