.input-group {
  margin-bottom: 2.375rem;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.input {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(83,66,98,.1);
  border-radius: 0;
  margin: 0;
  padding-top: .625rem;
  padding-bottom: .625rem;
  padding-left: 0;
}
.input:focus {
  outline: 0;
  border-bottom-color: rgba(83,66,98, .5);
}

.number-input {
  flex-grow: 1;
}

.number-input__field {
  font-size: 1.15rem;
  box-shadow: none;
  width: 100%;
  padding-right: .5rem;
  -moz-appearance: textfield;
  position: relative;
  z-index: 2;
}

.number-input__field::placeholder {
  color: rgba(83,66,98, .75);
}

.input__aside {
  font-size: 1rem;
  color: rgba(83,66,98, .4);
}

.select__field {
  font-size: 1em;
  font-weight: inherit;
  color: inherit;
  padding-right: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select__field:disabled {
  padding-right: 0;
}

.select__field:disabled ~ .select__icon {
  display: none;
}

.select__icon {
  margin-top: 1px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
  pointer-events: none;
}

.switch {
  border: 1px solid rgba(83,66,98, .2);
  border-radius: 100px;
  display: flex;
  width: 2rem;
  height: 1rem;
  position: relative;
}

.switch__toggle {
  width: 50%;
}

.switch__indicator {
  background-color: rgb(83,66,98);
  border-radius: 100%;
  width: .5rem;
  height: .5rem;
  opacity: 0;
  display: block;
  margin: 3px;
}

.switch__label {
  text-align: right;
  font-size: .75rem;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  margin-right: .5rem;
  opacity: 0;
}

.switch__input:checked ~ .switch__indicator, .switch__input:checked ~ .switch__label  {
  opacity: .4;
}
