.site-header {
  background-color: #FFF;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.site-header:before {
  content: "";
  background-color: currentColor;
  opacity: .2;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.site-header__inner {
  display: flex;
  justify-content: space-between;
}