.navigation {
  margin-bottom: 1.25rem;
}

.navigation__list {
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
  list-style: none;

}

.navigation__list-item {
  color: #FF3A35;
  padding: 0 1.25rem;
}

.navigation__list-link {
  border-bottom: 1px solid rgba(66,66,66, .1);
  padding: .75rem .25rem .5rem;
  display: block;
}

.navigation__list-link:hover {
  border-bottom-color: currentColor;
}