a {
  text-decoration: none;
  color: inherit;
}

p, dd {
  margin: 0;
}

small {
  margin-top: .2rem;
  display: inline-block;
}

h1,h2,h3 {
  font-size: 1em;
  font-weight: inherit;
  margin: 0;
}

.heading {
  margin-bottom: 1.5rem;
}

.heading__title {
  font-size: 1.5rem;
}

.text {
  text-align: center;
  max-width: 20rem;
  margin: 2rem auto;
}

p:not(:last-of-type) {
  margin-bottom: 1em;
}

.link {
  color: #FF3A35;
  text-decoration: underline;
}

.link a:hover, .link a:focus {
  text-decoration: none;
}

.small {
  font-size: .75rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

.small--light {
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  opacity: .6;
  display: block;
}