.base {
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.first {
  width: 40%;
  padding-left: 1.25rem;

}
.last {
  width: .9rem;
  padding-right: 1.25rem;
}

.bodyItem {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  border-bottom: 1px solid rgba(66,66,66, .1);
}

.headerItem {
  font-weight: 500;
  background-color: rgba(66,66,66, .02);
  border-top: 1px solid rgba(66,66,66, .1);
  border-bottom: 1px solid rgba(66,66,66, .1);
  padding-top: .625rem;
  padding-bottom: .625rem;
  position: relative;
}

@media (min-width: 34.375em) {
  .base { 
    border-left: 1px solid rgba(66,66,66, .1);
    border-right: 1px solid rgba(66,66,66, .1);
  }
}